header {
    position: fixed;
    background: #fff;
    opacity: 0.7;
    height: 60px;
    margin: 0 auto;
    width: 1024px;
}
.empty-header {
    height: 140px;
}
.item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    padding: 20px 15px;
}
ul.menu {
    display: inline-block;
    width: 800px;
}
.item a:hover {
    color: #8C2FC5;
}
.menu a {
    text-decoration: none;
    color: #000000;
}
.social-networks li {
    padding: 10px;
    margin: 0;
    cursor: pointer;
    display: inline-block;
  }
  ul.social-networks {
      margin: 0;
  }

  .social-networks a {
    display: block;
    color: black;
    text-decoration: none;
  }
  .social-networks a:hover {
      color: #8C2FC5;
  }
  .social-networks-wrapper {
    display: inline-block;  
  }
h1 {
    color: #8C2FC5;
    text-align: center;
    font-size: 80px;
    margin: 0 auto;
    width: 823px;
    letter-spacing: 3px;
    line-height: 1,5;

}
.intro {
    font-size: 35px;
    margin: 0 auto;
    width: 623px;
    text-align: center;
    padding: 50px 0;
    font-weight: 400;
}
.join {
    background: #fff;
    width: 230px;
    height: 50px;
    margin: 0 auto;
    display: block;
    border: 2px solid #8C2FC5;
    transition-delay: 0s;
} 
.join a {
    color: #4D4D4D;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}
.join:hover {
    background: #8C2FC5;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.join:hover a {
    color: #fff;
}
body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #4D4D4D;
}
.wrapper {
    width: 1024px;
    margin: 0 auto;
    
}
.excursion {
    padding-top: 50px;
}
h2 {
  color: #8C2FC5;
  text-align: center;
  font-size: 50px;
  margin: 0 auto;
  width: 823px;
  letter-spacing: 1px;
  line-height: 1,5;   
  padding: 50px 0;
}
.actions {
    display: inline-block;
    width: 333px;
    text-align: left;
    margin: 0 auto;
    padding: 0 10px;
}
* {
box-sizing: border-box;
}
i {
    color: #8C2FC5;
}
.icon {
  text-align: center;
}
.map {
    margin: 0 auto;
    width: 814px;
    display: block;
}
.route {
    width: 814px;
    margin: 0 auto;
    padding: 25px 0;
    font-size: 18px;
}
.why {
    width: 814px;
    margin: 0 auto;
    padding: 25px 0;
    font-size: 20px;
}